<main>
    <section class="crypto-market">
        <h1><span>Crypto</span> Trade</h1>
        <div class="offer-list">
            {{#if creatures}}

            {{#each creatures}}
            {{> creatures-card }}
            {{/each}}

        </div>
        {{else}}
        <div class="no-offer">
            <p>There are no crypto offers found!</p>
        </div>
        {{/if}}
    </section>
</main>