<section class="search">
    <h1>Search</h1>

    <form class="search-form" action="/creatures/search" method="GET">
        <input type="text" class="search-name" name="searchName" placeholder="Search Name...">
        <input type="text" class="search-type" name="searchType" placeholder="Search Type...">
        <button type="submit" class="btn-search">Search</button>
    </form>

    <!--If there are matches after search-->
    {{#if creatures}}
    <div class="search-result">
        <div class="search-list">
            {{#each creatures}}
            {{> creatures-card}}
            {{/each}}
        </div>

    </div>
    {{else}}
    <!--If there are no matches-->
    <div class="no-match">
        <p>No match was found!</p>
    </div>
    {{/if}}
</section>