@media screen and (max-width: 600px) {

    .home-container,
    .home-header,
    .home-nav,
    .navigation-links-nav,
    .navigation-links-text,
    .blog-post-card3-blog-post-card {
        display: flex;
        flex-direction: column;
        width: 100%;

    }

    .blog-post-card3-text,
    .blog-post-card3-text1,
    .blog-post-card3-text2,
    .blog-post-card3-text3,
    .blog-post-card3-text4 {
        display: block;
        width: 100%;
        overflow-wrap: break-word;


    }

    .blog-post-card3-image {
        order: -1;
        width: 100%;
    }

 
    .home-container09,
    .home-container10 {
        display: flex;
        flex-direction: column;
        width: 100%;
    }
}