<div class="book">
    <div class="info-container-profile">
        <img src="{{image}}">
    </div>
    <div class="details-btn">
        <a href="/creatures/{{_id}}/details" class="details">Details</a>
    </div>
</div>