<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Home Page</title>


    <link href="/static/css/style.css" type="text/css" rel="stylesheet">
    <link rel="icon" href="/static/img/logo.png" type="image/png">
</head>

<body>


    <div id="box">


        {{#if error}}
        <div class="error-container">
            <p>{{error}}</p>
        </div>
        {{/if}}



        <nav>

            <img src="/static/img/logo.png" alt="logo">

            <ul class="menu">
                <li><a href="/">Home</a></li>
                <li><a href="/creatures/all-posts">All Posts</a></li>
                {{#if user}}
                <!-- Logged users -->
                <li><a href="/creatures/create">Create Post</a></li>
                <li>
                    <a href="/profile">Posts Of <span
                            style="color: aqua; font-size:30px">{{this.user.firstname}}</span></a>
                </li>
                <li><a href="/auth/logout">Logout</a></li>
                {{else}}
                <!-- Guest users -->
                <li><a href="/auth/register">Register</a></li>
                <li><a href="/auth/login">Login</a></li>
                {{/if}}
            </ul>

        </nav>
        {{{body}}}


        <footer>
            © Js Back-End app Stoyan Galchev
        </footer>
    </div>

</body>

</html>