.thumbnail {
  width: 100%;
}

.video-text {
  font-size: 15px;
  font-weight: bold;
  font-family: Arial;
  line-height: 21px;
}

.video-author {
  margin-top: 0px;
  margin-bottom: 2px;
  font-size: 14px;
  color: rgb(96, 96, 96);
}

.video-stats {
  font-family: "Courier New", Courier, monospace;

  margin-top: 0px;
  font-size: 13px;
  color: rgb(96, 96, 96);
}

.div-image {
  width: 45px;
  margin-top: 15px;
  vertical-align: top;
  margin-right: 8px;
  border-radius: 30px;
}

.container {
  grid-template-columns: 50px 1fr;
  display: grid;
}

.video-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 16px;
  margin-left: 40px;
  row-gap: 60px;
  background-color: rgba(246, 244, 244, 0.863);
  margin-top: 80px;
}
