.home-cta-btn {
    padding: 10px 20px;
    font-size: 14px;
}

.home-navbar {
    gap: 20px;
}

@media screen and (max-width: 600px) {
    .home-cta-btn {
        padding: 5px 10px;
        font-size: 12px;
    }

    .home-navbar {
        gap: 30px;
    }
}

.home-hero {
    display: flex;
    justify-content: center;
    align-items: center;
}



@media screen and (max-width: 600px) {
    .home-hero-text-container {

        flex-direction: column;
        justify-content: space-between;
        width: 90%;

    }

    .home-image1 {
        order: -1;
    }

    .home-text {
        display: flex;
        text-align: center;
    }

    .home-heading {
        display: flex;
        text-align: center;
        justify-content: left;

    }

    .home-hero {
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: center;
        margin-left: -20px;
    }

    .home-text {
        text-align: center;
        justify-content: center;
    }

    .home-image1 {
        order: -1;
        width: 100%;
        margin-left: 20px;
    }

    body,
    html {
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 0;
        overflow-x: hidden;
    }

    .home-heading {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
    }
}

.home-heading-container {
    display: flex;
    flex-direction: column;
    width: 100%;
}

@media screen and (max-width: 600px) {
    .home-heading-container>* {
        width: 100%;
    }
}

.home-cards-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
}

.home-feature-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding: 20px;
    width: 100%;
}

.home-feature-card img {
    order: 1;

}

.home-feature-card span {
    order: 2;

}

@media screen and (max-width: 600px) {
    .home-cards-container {
        flex-direction: column;
        gap: 20px;

    }
}




.home-stats {
    display: block;
    width: 100%;

    margin-top: 200%;
    justify-content: center;
    text-align: center;

}

s .home-text11 {
    width: 110%;
    white-space: nowrap;
    align-self: center;
}