.flex-container {
  width: 400px;
  padding: 1em;
  border: 2px solid blue;
  display: flex;
}

.flex-container .flex-item {
  background: #eee;
  padding: 20px;
  border: 2px solid #000;
}

.flex-wrap-nowrap {
  flex-wrap: nowrap;
}

.flex-wrap-wrap {
  flex-wrap: wrap;
}

.flex-wrap-wrap-reverse {
  flex-wrap: wrap-reverse;
}