.video-tittle {
  font-family: Arial;
  font-size: 18px;
  font-weight: bold;
  text-align: left;
  width: 300px;
  line-height: 24px;
  margin-bottom: 5px;
}

.video-stats {
  font-family: Arial;
  font-size: 14px;
  color: rgb(96, 96, 96);
  margin-top: 0px;
}

.video-author {
  font-family: Arial;
  font-size: 14px;
  color: rgb(96, 96, 96);
  margin-bottom: 14px;
}
