<main>

    <div class="container">
        <div class="col-9">
            {{#if creatures}}


            <!-- If there are posts for creature in the database display each of them -->
            {{#each creatures}}
            {{> creatures-card }}  
            {{/each}}
                 
            {{else}}
            <!-- If there are still no posts in the database display: -->
            <article class="not-available-photo">
                <h1>No photo posts yet.</h1>
            </article>
            {{/if}}

        </div>
    </div>

</main>