<section id="loginPage">
    <form id='loginForm' action="/auth/login" method="POST">
        <label for="email">Email:</label>
        <input type="text" id="email" name="email" placeholder="Email">

        <label for="password">Password:</label>
        <input type="password" id="password" name="password" placeholder="Password">

        <input type="submit" class="register" value="Login">
    </form>
</section>

{{!-- <main>

    <section id="login-page">

        <div class="loginSection">
            <div class="info">
                <h2>"Hearing voices no one else can hear isn't a good sign, even in the wizarding world."</h2>
            </div>
            <form action="/auth/login" method="POST" class="loginForm">
                <h2>Login</h2>
                <ul class="noBullet">
                    <li>
                        <label for="email">Email:</label>
                        <input type="text" class="inputFields" id="email" name="email" placeholder="alex@gmail.com" />
                    </li>
                    <li>
                        <label for="password">Password:</label>
                        <input type="password" class="inputFields" id="password" name="password"
                            placeholder="*******" />
                    </li>

                    <li id="center-btn">
                        <button id="login-btn">Login</button>
                    </li>
                </ul>
            </form>
        </div>

    </section>

</main>
///////////////// --}}