* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #f5f5f5;
}

.container {

    padding: 40px;
    margin-top: 20px;
    margin-left: 220px;
    margin-right: 220px;
    padding-top: 3em;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(27, 129, 180);
    border: 4px solid black;
    border-radius: 9px;
    flex-wrap: wrap;
    min-height: 550px;
}

.half-width {
    margin-top: 120px;
    flex: 1;
    display: block;
}

.paragraph {
    display: flex;
    text-indent: 70px;
    width: 90%;
    line-height: 230%;
}


.half-width1 {
    flex: 0.6;
}

.title-racoon {
    margin-top: -19%;
    margin-left: 20px;
}





.title {
    font-size: 30px;
    font-weight: 17;
    color: white;
    margin-left: 20px;
    margin-top: 20px;
}

.paragraph {
    margin-top: 30px;
}

.image {
    height: auto;
    max-height: 7em;
    min-height: 27em;
}

.btn1 {
    background-color: red;
    border: 1px solid black;
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    display: inline-block;
    margin-top: 2em;
    margin-left: 100px;
    border-radius: 7px;
}

.btn2 {
    background-color: transparent;
    border: 1px solid black;
    color: black;
    text-decoration: none;
    padding: 10px 20px;
    display: inline-block;
    margin-top: 20px;
    margin-left: 130px;
    border-radius: 7px;


}

@media (max-width: 1200px) {
    .container {
        margin-left: 100px;
        margin-right: 100px;
    }
}

@media (max-width: 900px) {
    .container {
        margin-left: 50px;
        margin-right: 50px;
    }
}

@media (max-width: 600px) {
    .container {
        flex-direction: column;
        margin-left: 20px;
        margin-right: 20px;
    }

    .half-width {
        margin-top: 20px;
        flex: none;
    }
}