<main>

    <div class="login-register-div">
        <div class="login-register-box">
            <h1>Petstagram</h1>

            <form action="/auth/register" method="POST" class="signupForm">
                <input type="text" name="username" placeholder="Username">

                <input type="email" id="email" name="email" placeholder="Email">

                <input type="password" id="password" name="password" placeholder="Password">

                <input type="password" id="repeat-password" name="rePass" placeholder="Repeat Password">

                <button type="submit">Register</button>
            </form>

        </div>

        <div class="second-option">
            <p>Have an account? <a href="/auth/login">LogIn</a></p>
        </div>
    </div>

</main>